---
---

$primary-font: 'Roboto', sans-serif;
$base-font-colour: rgba(71, 82, 93, 0.8);
$title-font-colour: rgba(39, 50, 56, 0.9);
$subtitle-font-colour: rgba(39, 50, 56, 0.8);
$muted-font-colour: rgba(13,54,80,0.3);
$border-colour: #ECEFF1;
$footer-base-colour: rgb(118, 75, 162);
$footer-base-font-colour: rgba(255, 255, 255, 0.8);
$footer-link-hover-colour: rgba(255, 255, 255, 1);
$footer-title-font-colour: rgba(255, 255, 255, 0.9);
$header-nav-height: 100px;

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin color-ease-out($time) {
  -webkit-transition: color $time ease-out;
  -moz-transition: color $time ease-out;
  -o-transition: color $time ease-out;
  transition: color $time ease-out;
}

/* ==== */
/* BASE */
/* ==== */

* {
  -webkit-font-smoothing: antialiased;
}

body, html {
  font-family: $primary-font;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
}

button, input, optgroup, select, textarea {
  font-family: $primary-font;
}

code {
  @include border-radius(4px);
}

pre.highlight > code {
  padding: 0px;
  border: none;
  background-color: transparent;
  font-weight: normal;
  color: #0a0a0a;
  font-size: 80%;
}

pre.highlight {
  border: 1px solid #cacaca;
  padding: 10px;
  @include border-radius(4px);
  background: #e6e6e6;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 600;
}

h1 {
  color: $title-font-colour;
}

h2 {
  font-size: 44px;
  letter-spacing: 1.1px;
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #AA0EFF 0%, #EE1DAD 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3, h4, h5, h6 {
  color: $subtitle-font-colour;
}

// h1, h2 {
//   text-transform: capitalize;
// }

h1 {
  line-height: 1.2;
}

p {
  font-size: 22px;
  color: #43337E;
  letter-spacing: 1.32px;
  line-height: 38px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.10);
  font-weight: 300;
}

p small {
  color: $muted-font-colour;
}

.text-center ul {
  display: inline-block;
}

.page-content {
  background-color: white;
}

/* ====== */
/* LAYOUT */
/* ====== */

.row {
  max-width: 90rem;
}

.row.banner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner img {
  max-height: 240px;
  vertical-align: middle;
}

.center-cell {
  margin: 0 auto;
}

/* TOP NAV */

.sticky {
  width: 100%;
}

#sticky-header {
  border-bottom-color: $border-colour;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  z-index: 5;
}

#sticky-header > .top-bar, #sticky-header > .top-bar ul {
  background-color: white;
}

#sticky-header > .top-bar a {
  color: rgba(39, 50, 56, 0.9);
}

#sticky-header, .sticky-container {
  color: white;
}

.is-dropdown-submenu li {
  height: 36px;
}

.top-bar {
  .top-bar li {
    font-size: 16px;
    font-family: $primary-font;
  }
  .top-bar li .nav-subtext a {
    color: rgba(39, 50, 56, 0.5)!important;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 12px;
  }
}

.menu.vertical > li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none!important;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 16px!important;
}

.menu-text {
  display: table;
}

.logo {
  display: table-cell;
  vertical-align: middle;
}

.logo img {
  height: 30px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.nav-large > .menu > .logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-small .logo img {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu > li.logo > a {
  display: block;
}

.is-dropdown-submenu {
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include border-radius(8px);
  border-color: $border-colour;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.is-submenu-item {
  min-width: 250px;
}

.menu > .is-dropdown-submenu-item > a {
  padding-left: 30px;
}

.title-bar {
  background: white;
  // height: 70px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 69;
  top: 0;
  left: 0;
  background-image: linear-gradient(-30deg, #7700FF 0%, #546BFE 35%, #3CACFF 72%, #81D8FF 100%, #82D9FF 100%);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.overlay h2 {
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1FAD5C;
  font-weight: 600;
}

.overlay li {
  list-style-type: none;
}

.overlay ul {
  margin-left: 0px;
  font-size: 16px;
}

.overlay-content {
  position: relative;
  width: 100%;
  // border-top: 1px solid #eceff1;
}

.overlay-content .columns {
  // border-bottom: 1px solid #eceff1;
}

.overlay-sub h3 a {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.38px;
  line-height: 29px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.10);
  font-weight: 300;
}

.overlay a {
  padding-bottom: 8px;
  padding-top: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #1FAD5C;
  font-weight: 600;
}

.overlay .logo a {
  padding: 0px;
}

.overlay .closebtn {
  position: absolute;
  top: -8px;
  right: 25px;
  font-size: 50px;
  line-height: 50px;
  color: white;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.overlay .overlay-content {
  margin-top: 60px;
  padding-left: 21px;
}

.is-submenu-item .material-icons {
  font-size: 14px;
  padding-left: 10px;
}

.overlay-content .material-icons {
  font-size: 16px;
  padding-left: 10px;
}

.bg-top .button {
  margin-top: 10px;
}

.top-bar .button {
  padding: 0.85rem 2rem;
  margin-right: 30px;
  margin-left: 30px;
  color: white!important;
}

.title-bar .menu-icon {
  margin-right: 20px;
}

/*footer*/

footer {
  padding: 80px 0px;
  background-image: linear-gradient(-30deg, #7700FF 0%, #546BFE 35%, #3CACFF 72%, #81D8FF 100%, #82D9FF 100%);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1000px 0px 1000px #3CACFF;
}

footer .row {
  max-width: 62.5rem;
}

footer h1 {
  font-size: 52px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  line-height: 70px;
  text-shadow: 0 2.5px 0 rgba(0,0,0,0.10);
}

footer h4 {
  font-size: 28px;
  color: white;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-shadow: 0 1.25px 0 rgba(0,0,0,0.1);
  font-weight: 300;
}

img.footer {
  max-height: 90px;
  margin-bottom: 40px;
}

.social-button {
  margin-left: 10px;
  margin-right: 10px;
}

.social-button-row img {
  max-height: 30px;
  width: auto;
}

.footer-copyright {
  color: $footer-base-font-colour;
  font-size: 16px;
  padding-top: 1rem;
}

footer ul {
  margin-left: 0px;
}

footer ul li {
  list-style-type: none;
}

/* ===== */
/* STATE */
/* ===== */

.invisible-man {
  display: none;
}

@media print, screen and (min-width: 721px) {
  .hide-for-medium-nav {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .hide-for-small-only-nav {
    display: none !important;
  }
}

.show-for-mob {
  display: none;
}
.hide-for-mob {
  display: block;
}

@media screen and (max-width: 430px) {
  .show-for-mob {
    display: block!important;
  }
  .hide-for-mob {
    display: none!important;
  }
}

.show-for-mob {
  display: none;
}
.hide-for-mob {
  display: block;
}

@media screen and (max-width: 430px) {
  .show-for-mob {
    display: block!important;
  }
  .hide-for-mob {
    display: none!important;
  }
}

/* ===== */
/* STYLE */
/* ===== */

.beta {
  vertical-align: super;
  font-size: 18px;
  color: #acacac;
}

.button {
  @include border-radius(50px);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85rem 2rem;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #EE1DAD;
  background-color: white;
  font-size: 11px;
  color: #EE1DAD;
  letter-spacing: 1.38px;
  font-weight: 500;
}

.button:hover, .button:focus {
  background-color: white;
  color: #EE1DAD;
}

.card {
  z-index: 2;
  position: relative;
  background: white;
  border-color: $border-colour;
  border-style: solid;
  border-width: 1px;
  @include border-radius(15px);
  padding: 50px;
  margin-bottom: 80px;
}

.card p {
  color: $base-font-colour;
}

.sub-title {
  font-family: $primary-font;
}

// withphil

.hero-banner {
  position: relative;
  background-image: linear-gradient(-30deg, #7700FF 0%, #546BFE 35%, #3CACFF 72%, #81D8FF 100%, #82D9FF 100%);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-top: -$header-nav-height;
  padding-top: calc(#{$header-nav-height} + 100px);
  padding-bottom: calc(#{$header-nav-height} + 100px);
}

.hero-banner h4 {
  font-size: 28px;
  color: white;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-shadow: 0 1.25px 0 rgba(0,0,0,0.1);
  font-weight: 300;
}

.header-nav {
  height: $header-nav-height;
  z-index: 42;
  position: relative;
}

.header-nav .menu > li > a {
  padding-left: 32px;
  padding-right: 32px;
}

.header-nav .top-bar {
  padding-left: 50px;
  padding-right: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-nav .top-bar,
.header-nav .top-bar ul,
.header-nav .title-bar {
  background-color: transparent;
}

.header-nav h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 0px;
  // letter-spacing: 6.5px;
  text-shadow: 0 2.5px 0 rgba(0,0,0,0.10);
  // margin: 10px;
  // font-family: 'Just Another Hand', cursive;
}

.header-nav a {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.10);
  font-weight: 500;
}

.hero-banner h1 {
  font-size: 64px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  line-height: 70px;
  text-shadow: 0 2.5px 0 rgba(0,0,0,0.10);
  margin-bottom: 20px;
}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  width: 100%;
  margin-top: 30px;
}

.landing-content.row.banner {
  padding: 0px;
}

.placeholder-blob {
  width: 15rem;
  height: 25rem;
  background-image: linear-gradient(-175deg, #AA0EFF 0%, #EE1DAD 100%);
  border: 2px solid #AE27AC;
  @include border-radius(400px);
  margin: auto;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 25px;
}

.button.pink-fill {
  background: #EE1DAD;
  border: 1px solid #B71EB5;
  box-shadow: 0 2px 0 0 #AE27AC;
  margin-right: 20px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 1.5px 0 rgba(0,0,0,0.05);
  font-weight: 700;
}

.button.white {
  border: 1.5px solid #FFFFFF;
  background: transparent;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 1.5px 0 rgba(0,0,0,0.05);
  font-weight: 700;
}

#mc_embed_signup form {
  // text-align: left!important;
  margin-top: 23px;
}

#mc_embed_signup input.email {
  display: inline-block;
  margin: auto;
  width: 100%;
  max-width: 435px;
  @include border-radius(30px);
  background-color: white;
  border: transparent;
  padding-left: 35px;
  box-shadow: none;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  font-size: 16px;
  letter-spacing: 2px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 40px;
}

#mc_embed_signup input.email::placeholder,
#mc_embed_signup input.email:-ms-input-placeholder,
#mc_embed_signup input.email::-ms-input-placeholder {
  font-size: 16px;
  color: #E1E1E1;
  letter-spacing: 2px;
  text-transform:capitalize;
  font-weight: 700;
}

#mc_embed_signup .clear {
  display: inline-block;
}

#mc_embed_signup .button.pink-fill {
  height: 51px;
  margin: 0px;
  margin-top: -1px;
}

.phil {
  font-size: 100px;
  color: #FFFFFF;
  letter-spacing: 6.5px;
  text-shadow: 0 2.5px 0 rgba(0,0,0,0.10);
  font-family: 'Just Another Hand', cursive;
}

.how-it-works::before {
  background-image: url(/images/pages/gears.png);
  background-position: right;
  background-size: auto 80%;
  background-position: bottom right;
  background-repeat: no-repeat;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
}

.how-it-works > div {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .hero-banner h1 {
    font-size: 44px;
    line-height: 50px;
  }
  .hero-banner h4 {
    font-size: 24px;
    line-height: 38px;
  }
}

@media screen and (max-width: 780px) {
  .how-it-works::before {
    background-image: url(/images/pages/gears.png);
    background-position: right;
    background-size: auto 70%;
    background-position: bottom right;
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;
  }
}

@media screen and (max-width: 690px) {
  .how-it-works::before {
    background-image: url(/images/pages/gears.png);
    background-position: right;
    background-size: auto 60%;
    background-position: bottom right;
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;
  }
}

@media screen and (max-width: 639px) {
  .how-it-works::before {
    opacity: 0;
    transition: 0.3s;
  }
  .banner img {
    max-height: 120px;
    margin-bottom: 80px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 540px) {
  .hero-banner h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .hero-banner h4 {
    font-size: 24px;
    line-height: 38px;
  }
  .header-nav h1 {
    font-size: 24px;
    padding: 8px;
  }
}

@media screen and (max-width: 430px) {
  .main-body {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .row.banner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hero-banner {
    padding-top: calc(#{$header-nav-height} + 50px);
    padding-bottom: 50px;
    min-height: 560px;
  }
  .hero-banner h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .hero-banner span#main {
    line-height: 50px;
  }
  .hero-banner h4 {
    font-size: 18px;
    line-height: 29px;
  }
  .button.white {
    width: 100%;
    height: 50px;
  }
  .button.pink-fill {
    width: 100%;
    height: 50px;
  }
  #mc_embed_signup input.email {
    display: block;
  }
  .buttons {
    margin-top: 60px;
  }
  .header-nav h1 {
    font-size: 24px;
    padding: 8px;
  }
  .banner img {
    max-height: 64px;
    margin-bottom: 34px;
    transition: 0.5s;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.89px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  img.footer {
    max-height: 64px;
    margin-bottom: 30px;
  }
  footer h1 {
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 42px;
  }
  footer h4 {
    font-size: 18px;
    letter-spacing: 0.29px;
    line-height: 29px;
  }
}
