<footer id="signup">
  <div class="row align-middle align-center text-center">
    <div class="large-8 medium-8 small-11 columns">
      <img class="footer" src="/images/pages/package.png" alt="Image"></img>
      <h1>Sign up for early access</h1>
      <h4>Subscribe below to receive an email notification as soon as we launch the app's beta version.</h4>
    </div>
    <div class="small-12 columns">
      <div id="mc_embed_signup">
        <form action="https://withphil.us18.list-manage.com/subscribe/post?u=7207033fd93227a284b0ebe60&amp;id=0365fc9f40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL ADDRESS" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_7207033fd93227a284b0ebe60_0365fc9f40" tabindex="-1" value="">
            </div>
            <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button pink-fill">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row footer-info">
        <div class="large-4 medium-4 small-12 columns">
          <p class="footer-copyright">© 2018 WITH PHIL</p>
        </div>
        <div class="large-4 medium-4 small-12 columns medium-text-center small-text-left hide-for-small-only show-for-medium">
          <a href="https://twitter.com/_WithPhil" target="_blank" class="social-button">
            <img src="/images/logos/social/twitter.svg">
          </a>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <div class="social-button-row medium-text-right small-text-left">
            <a href="/contact/">CONTACT US</a>
          </div>
        </div>
        <div class="large-4 medium-4 small-12 columns medium-text-center small-text-left show hide-for-medium">
          <a href="https://twitter.com/_WithPhil" target="_blank" class="social-button">
            <img src="/images/logos/social/twitter.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<!-- <script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "dismiss": "I'm happy",
    "message": "We use cookies on this site. Please confirm you're happy or find out how to manage your cookies.",
    "href": "https://oh-mimo.com/terms/cookies"
  }
})});
</script> -->
