---
layout: default
---
<div class="header-nav" data-sticky-container>
  <!-- <div id="sticky-header" class="sticky" data-sticky data-options="anchor: page; stickyOn: small; marginTop: 0;"> -->
  <div>
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <h1>With Phil</h1>
      </div>
      <button class="menu-icon" type="button" onclick="openNav()"></button>
    </div>

    <div class="top-bar hide-for-small-only-nav">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li>
            <h1>With Phil</h1>
          </li>
        </ul>
      </div>
      <div id="nav-menu" class="top-bar-right hide-for-small-only-nav invisible-man">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">HOW IT WORKS</a></li>
          <li><a href="#">DOWNLOAD</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>
  <div id="navTray" class="overlay">
    <div class="title-bar hide-for-medium-nav">
      <div class="title-bar-title">
        <h1>With Phil</h1>
      </div>
      <a class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <div class="overlay-content">
      <div class="row">
        <div class="small-12 columns">
          <h2>Product</h2>
          <span class="overlay-sub">
            <h3><a href="/product/">Core Features</a></h3>
            <h3><a href="/gdpr-features/">GDPR Compliance</a></h3>
            <h3><a href="/community-edition/">Community Edition</a></h3>
            <h3><a href="/integrations/">Integrations</a></h3>
          </span>
        </div>
        <div class="small-12 columns">
          <h2><a href="/plans">Pricing</a></h2>
        </div>
        <div class="small-12 columns">
          <h2><a class="register-button" href="/join">Register</a></h2>
        </div>
      </div>
    </div>
  </div>

  {{ content }}
  {% include footer.html %}
</main>
